/* * {
     box-sizing: border-box;
     
   } */
body {
  margin: 25px;
  border-left: 5px solid;
  color: lightgray;
  padding-left: 15%;
  min-height: 100%;
}

h1 {
  font-family: sans-serif;
  color: rgb(218, 64, 64);
  font-weight: lighter;
}

h2 {
  font-family: sans-serif;
  color: rgba(15, 14, 15);
  font-weight: lighter;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  color: rgba(15, 14, 15, 0.7);
  font-weight: lighter;
}

.nav-list {
  display: flex;
  background: white;
  box-shadow: 0px 0px 10px;
  margin: 0%;
  height: 50px;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}


.nav-item {
  margin-right: 4rem;
  list-style: none;
  text-decoration: underline;
}

a {
  font-size: 17px;
  color: gray;
  font-stretch:expanded;

}

div {
  font-size: 11px;
  color: rgb(169, 169, 169);
  margin: 10px auto;
}

p::first-letter {
  font-size: 60px;
}

p {
  font-family: sans-serif;
  font-weight: lighter;
  width: 78%;
}


h5 {
  color: red;
  border-bottom: 2px solid lightgrey;
  text-align: right;
  padding-right: 15px;
  width: 77%;
  padding-bottom: 15px;
}

